@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
--black-color: #393939;
--white-color: #FFFFFF;
--primary-color: #D22626;
--secondary-color: #FC924B;
--tertiary-color: #FFA569;
--success-color: rgba(47, 168, 108);
--error-color: rgba(238, 107, 107);
--info-color: rgb(236, 238, 107);
--padding: 20px 120px;
--padding-tab: 20px 50px;
--padding-mobile: 20px;
--box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s linear;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

/* ANIMATIONS */
@keyframes fadeSlide {
    from {
        translate: -20px 0;
        opacity: 0;
    }

    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes fadeSlideLeft {
    from {
        translate: 20px 0;
        opacity: 0;
    }

    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes fadeDown {
    from {
        translate: 0 -20px;
        opacity: 0;
    }

    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes scaleUpDown {
    from {
        scale: 1.1;
    }

    to {
        scale: 1;
    }
}


html {
    font-size: 30px;
}

body {
    background-color: var(--white-color);
    position: relative;
}

.hide {
    display: none;
}


/* NAVBAR */

nav {
    width: 100%;
    height: 10vh;
    background-color: var(--black-color);
    padding: var(--padding);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.logo img {
    width: 80%;
}

nav .nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav .nav-links .link a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.7rem;
    padding: 0 20px;
}

nav .nav-links .link a:hover {
    color: var(--tertiary-color);
}

nav .nav-links .link a.active {
    color: var(--tertiary-color);
}

/* MAIN CONTENT */
/* main {
    padding: var(--padding);
} */

section {
    height: fit-content;
    width: 100%;
}

section > * {
    padding: var(--padding);
}

/* BUTTONS */
a.btn, button.btn {
    text-decoration: none;
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 0.7rem;
}

a.btn:hover, button.btn:hover {
    background-color: var(--tertiary-color);
}

/* ICONS */
img.icon {
    height: 100px;
    width: 100px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
}


/* FOOTER */

footer {
    width: 100%;
    height: fit-content;
    background-color: var(--black-color);
    padding: var(--padding);
    /* position: fixed;
    bottom: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    html {
        font-size: 27px;
    }

    nav {
        padding: var(--padding-tab);
    }

    .logo {
        width: 50%;
    }

    section > * {
        padding: var(--padding-tab);
    }

    footer {
        padding: var(--padding-tab);
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {
    html {
        font-size: 25px;
    }

    nav {
        padding: var(--padding-mobile);
    }

    .logo {
        width: 50%;
    }

    section > * {
        padding: var(--padding-mobile);
    }

    footer {
        padding: var(--padding-mobile);
    }
}