/* SEARCH BAR */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

input#search {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    font-size: 0.6rem;
    outline: none;
    background-color: var(--white-color);
}

input#search {
    border: 1px solid var(--secondary-color);
}

div.search-results {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: var(--padding);
    padding: 10px;
    display: none;
}

.search-results h3 {
    text-align: center;
    color: var(--black-color);
    font-size: 0.8rem;
}

.search-results div.result-item {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
}

.result-item a {
    text-decoration: none;
}

.result-item a:hover {
    color: var(--secondary-color);
}

.result-item a h3 {
    color: var(--primary-color);
    font-size: 0.8rem;
}

.result-item p {
    color: var(--black-color);
    font-size: 0.6rem;
    text-align: center;
}


/* MAP */
#map {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

/* NAVBAR */

nav {
    width: 100%;
    height: 10vh;
    background-color: var(--black-color);
    padding: var(--padding);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.logo img {
    width: 80%;
}

nav .nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav .nav-links .link a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.7rem;
    padding: 0 20px;
}

nav .nav-links .link a:hover {
    color: var(--tertiary-color);
}

nav .nav-links .link a.active {
    color: var(--tertiary-color);
}

/* SEARCH BAR */
nav .search-bar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav .search-bar button {
    background-color: var(--black-color);
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    width: 15%;
}

nav .search-bar input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

nav .search-bar input:focus {
    outline: none;
}

nav .search-bar button img.icon {
    height: 25px;
    width: 25px;
    background-size: cover;
}


/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
}

.dropdown .button {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.dropdown .button:hover {
    border: 1px solid var(--secondary-color);
}

.dropdown .button img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.dropdown .dropdown-content {
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    background-color: var(--black-color);
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    /* width: 18vw; */
    width: 250px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.dropdown-content .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

.dropdown-content .links a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.6rem;
    text-align: left;
}

.dropdown-content .links a:hover {
    color: var(--secondary-color);
}

.dropdown-content.hide {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.profile-pic img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* FOOTER */

footer {
    width: 100%;
    height: fit-content;
    background-color: var(--black-color);
    padding: var(--padding);
    /* position: fixed;
    bottom: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
}


/* FLASH MESSAGES */
.flash-message {
    position: fixed;
    top: 11vh;
    right: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.7rem;
    width: 25%;
}

.flash-message.success {
    background-color: var(--success-color);
    color: var(--white-color);
}

.flash-message.error {
    background-color: var(--error-color);
    color: var(--white-color);
}

.flash-message.info {
    background-color: var(--info-color);
}

.flash-message.warning {
    background-color: var(--warning-color);
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    nav {
        padding: var(--padding-tab);
    }

    footer {
        padding: var(--padding-tab);
    }

    .flash-message {
        width: 50%;
    }

    div.search-results {
        margin: var(--padding-tab);
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {
    nav {
        padding: var(--padding-mobile);
    }

    footer {
        padding: var(--padding-mobile);
    }

    .flash-message {
        width: 70%;
    }

    div.search-results {
        margin: var(--padding-mobile);
    }
}
