/* SEARCH BAR */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
}

.search-container label {
    display: flex;
    align-items: center;
    gap: 20px;
}

input#search {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    font-size: 0.6rem;
    outline: none;
    background-color: var(--white-color);
}

input#search:focus {
    border: 2px solid var(--secondary-color);
}

div.search-results {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: var(--padding);
    padding: 10px;
    display: none;
}

.search-results h3 {
    text-align: center;
    color: var(--black-color);
    font-size: 0.8rem;
}

.search-results div.result-item {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
}

.result-item a {
    text-decoration: none;
}

.result-item a h3 {
    color: var(--primary-color);
    font-size: 0.8rem;
}

.result-item a h3:hover {
    color: var(--secondary-color);
}

.result-item p {
    color: var(--black-color);
    font-size: 0.6rem;
    text-align: center;
}


/* MAP */
#map {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

/* Icons */
img.hamburger-icon, img.cancel-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 1200;
}

img.hamburger-icon.nav-icon, img.cancel-icon.nav-icon {
    margin: 20px;
}

img.hamburger-icon.sidebar-icon, img.cancel-icon.sidebar-icon {
    position: fixed;
    left: 5px;
}

img.hamburger-icon.sidebar-icon {
    top: 150px;
}

img.cancel-icon.sidebar-icon {
    top: 120px;
}

/* NAVBAR */

nav {
    width: 100%;
    height: 10vh;
    background-color: var(--black-color);
    padding: var(--padding);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

nav .nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
}

div.link-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

nav .nav-links .link a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.7rem;
    padding: 0 20px;
}

nav .nav-links .link a.btn {
    padding: 10px 15px;
}

nav .nav-links .link a.btn:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

nav .nav-links .link a:hover {
    color: var(--tertiary-color);
}

nav .nav-links .link a.active {
    color: var(--tertiary-color);
}

/* SEARCH BAR */
nav .search-bar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav .search-bar button {
    background-color: var(--black-color);
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    width: 15%;
}

nav .search-bar input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

nav .search-bar input:focus {
    outline: none;
}

nav .search-bar button img.icon {
    height: 25px;
    width: 25px;
    background-size: cover;
}


/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
}

.dropdown .button {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.dropdown .button:hover {
    border: 1px solid var(--secondary-color);
}

.dropdown .button img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.dropdown .dropdown-content {
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    background-color: var(--black-color);
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    /* width: 18vw; */
    width: 250px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.dropdown-content .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

.dropdown-content .links a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.6rem;
    text-align: left;
}

.dropdown-content .links a:hover {
    color: var(--secondary-color);
}

.dropdown-content.hide {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.profile-pic img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* FOOTER */

footer {
    width: 100%;
    height: fit-content;
    background-color: var(--black-color);
    padding: var(--padding);
    /* position: fixed;
    bottom: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--white-color);
}


/* FLASH MESSAGES */
.flash-message {
    position: fixed;
    top: 11vh;
    right: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.7rem;
    width: 25%;
}

.flash-message.success {
    background-color: var(--success-color);
    color: var(--white-color);
}

.flash-message.error {
    background-color: var(--error-color);
    color: var(--white-color);
}

.flash-message.info {
    background-color: var(--info-color);
}

.flash-message.warning {
    background-color: var(--warning-color);
}


/* SUGGESTION BOX */
.suggestion-box {
    border: 1px solid #ccc;
    background: var(--white-color);
    height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none;
    z-index: 1000;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 0.6rem;
    border-bottom: 1px solid var(--secondary-color);
}

.suggestion-item:hover {
    background: var(--tertiary-color);
}


/* Sidebar content */
div#dashboard-content {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
}

#dashboard-content .content {
    margin-left: 20%; /* Leave space for the fixed sidebar */
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Content scrolls */
}

/* Sidebar */

.sidebar {
    width: 20%;
    height: 100vh; /* Full height */
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    overflow-y: auto; 
}

.sidebar h2 {
    font-size: 1rem;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--secondary-color);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 0.7rem;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: var(--tertiary-color);
}

#dashboard-content .content header {
    margin-bottom: 30px;
    text-align: center;
}

#dashboard-content .content header h1 {
    font-size: 1.2rem;
    color: var(--black-color);
}

#dashboard-content .content header p {
    color: var(--tertiary-color);
    margin-top: 5px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Emergency */
.emergency-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.emergency-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    border: 2px solid var(--secondary-color);
    padding: 10px;
}

.emergency-card:hover {
    transform: scale(1.03);
}

.emergency-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.emergency-card .card-content {
    padding: 10px;
}

.emergency-card h3 {
    margin: 0 0 10px;
    font-size: 0.8rem;
    color: var(--primary-color);
}

.emergency-card p {
    margin: 5px 0;
    color: var(--black-color);
    font-size: 0.6rem;
}

.emergency-card .status {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.emergency-card .status.resolved {
    background-color: var(--success-colot);
}

.emergency-card .status.in-progress {
    background-color: var(--warning-color);
}

.emergency-card .status.pending {
    background-color: var(--error-color);
}

.actions {
    margin-top: 10px;
}

a.action {
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 0.6rem;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}


/* PAGINATOR */
div#paginator {
    margin-top: 20px;
    height: 200px;
    overflow: auto;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 8px 16px;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 4px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--secondary-color);
}

.page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #6c757d;
    border: none;
    pointer-events: none;
}


/* LIST and CARD */
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    border: 2px solid var(--secondary-color);
    padding: 20px;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card .card-content {
    padding: 10px;
}

.card h3 a, .card h3 {
    margin: 0 0 10px;
    font-size: 0.8rem;
    color: var(--primary-color);
    text-decoration: none;
}

.card h3 a:hover {
    color: var(--secondary-color);
}

.card p {
    margin: 2px 0;
    color: var(--black-color);
    font-size: 0.6rem;
}

.card a {
    color: var(--black-color);
    font-size: 0.6rem;
    text-decoration: none;
}

.card a:hover {
    color: var(--secondary-color);
}

/* Details */

.details .info .row {
    margin-bottom: 20px;
}

.row h2 {
    margin: 0 0 5px;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.row h3 {
    color: var(--primary-color);
    font-size: 0.7rem;
}

.row p {
    font-size: 0.6rem;
    color: var(--black-color);
}

.row a {
    font-size: 0.6rem;
    color: var(--secondary-color);
    text-decoration: none;
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    nav {
        padding: var(--padding-tab);
        height: fit-content;
        align-items: center;
    }

    nav .nav-links .link {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        gap: 10px;
        margin-right: 30px;
    }

    footer {
        padding: var(--padding-tab);
    }

    .flash-message {
        width: 50%;
    }

    div.search-results {
        margin: var(--padding-tab);
    }

    .sidebar {
        width: 100%;
    }
    
    #dashboard-content .content {
        margin-left: 0;
    }

    .sidebar h2 {
        margin-top: 130px;
    }

    img.cancel-icon.sidebar-icon {
        top: 150px;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {
    nav {
        padding: var(--padding-mobile);
    }

    footer {
        padding: var(--padding-mobile);
    }

    .flash-message {
        width: 70%;
    }

    div.search-results {
        margin: var(--padding-mobile);
    }
}
