header {
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}


/* EMERGENCY DETAILS */

header h1 {
    font-size: 1.8rem;
    color: #444;
}

.event-type {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
}

.event-type .emoji, header p {
    font-size: 1.2rem;
}

.details {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.details .info {
    width: 40%;
}

.details .media {
    width: 60%;
}

.details .info .row {
    margin-bottom: 20px;
}

.row h2 {
    margin: 0 0 5px;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.row p {
    font-size: 0.6rem;
    color: var(--black-color);
}

.row .attachments {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.row .attachments img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.map-placeholder {
    background: var(--white-color);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    
    .details .info {
        width: 100%;
        text-align: center;
    }
    
    .details .media {
        width: 100%;
    }

    .row .attachments {
        justify-content: center;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {

}
