.resource-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.resource-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    border: 2px solid var(--secondary-color);
    padding: 20px;
}

.resource-card:hover {
    transform: scale(1.03);
}

.resource-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.resource-card .card-content {
    padding: 10px;
}

.resource-card h3 a, .resource-card h3 {
    margin: 0 0 10px;
    font-size: 0.8rem;
    color: var(--primary-color);
    text-decoration: none;
}

.resource-card h3 a:hover {
    color: var(--secondary-color);
}

.resource-card p {
    margin: 2px 0;
    color: var(--black-color);
    font-size: 0.6rem;
}

.resource-card a {
    color: var(--black-color);
    font-size: 0.6rem;
    text-decoration: none;
}

.resource-card a:hover {
    color: var(--secondary-color);
}

.resource-card .status {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.status.resolved {
    background-color: var(--success-colot);
}

.status.in-progress {
    background-color: var(--warning-color);
}

.status.pending {
    background-color: var(--error-color);
}

.actions {
    margin-top: 10px;
}

a.action {
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 0.6rem;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}


/* RESOURCE DETAILS */

header h1 {
    font-size: 1.4rem;
    color: #444;
}

.event-type {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
}

.event-type .emoji, header p {
    font-size: 1rem;
}

.details {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

.details .info {
    width: 40%;
}

.details .tips {
    width: 40%;
}

.details .info .row {
    margin-bottom: 20px;
}

.row h2 {
    margin: 0 0 5px;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.row p {
    font-size: 0.6rem;
    color: var(--black-color);
    text-align: justify;
}

.row li {
    font-size: 0.6rem;
    color: var(--black-color);
    list-style-type: none;
    margin-bottom: 5px;
    text-align: left;
}

.map-placeholder {
    background: var(--white-color);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .details .info {
        width: 100%;
        text-align: center;
    }
    
    .details .tips {
        width: 100%;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {

}
