<img src="https://cdn-icons-png.freepik.com/256/12237/12237111.png?ga=GA1.1.2092350398.1730195801&semt=ais_hybrid" alt="icon" class="hamburger-icon sidebar-icon hide">
<img src="https://cdn-icons-png.freepik.com/256/399/399274.png?ga=GA1.1.2092350398.1730195801&semt=ais_hybrid" alt="icon" class="cancel-icon sidebar-icon hide">

<aside class="sidebar">
    <div class="sidebar-content">
        {% block sidebar_content %} {% endblock %}
    </div>
</aside>

<script>
    const hamburgerIcon = document.querySelector('.hamburger-icon.sidebar-icon');
    const cancelIcon = document.querySelector('.cancel-icon.sidebar-icon');
    const sidebar = document.querySelector('.sidebar');

    // Set up default settings in case the page is lauched on a mobile or tab phone
    if (window.innerWidth <= 1024) {
        hamburgerIcon.classList.remove('hide');
        sidebar.classList.add('hide');
    }

    hamburgerIcon.addEventListener('click', () => {
        sidebar.classList.remove('hide');
        cancelIcon.classList.remove('hide');
        hamburgerIcon.classList.add('hide');
    });

    cancelIcon.addEventListener('click', () => {
        sidebar.classList.add('hide');
        hamburgerIcon.classList.remove('hide');
        cancelIcon.classList.add('hide');
    });

    window.addEventListener('resize', () => {
        if (window.innerWidth <= 1024) {
            // Close sidebar when clicking outside
            document.addEventListener('click', (e) => {
                if (!sidebar.contains(e.target) && e.target !== hamburgerIcon) {
                    sidebar.classList.add('hide');
                }
            });
    
            // Show sidebar when clicking on hamburger icon
            hamburgerIcon.classList.remove('hide');
            sidebar.classList.add('hide');
        } else {
            // Show sidebar when clicking on hamburger icon
            hamburgerIcon.classList.add('hide');
            sidebar.classList.remove('hide');
        }
    });
</script>