{% extends 'pages/user/agency/agency-base.html' %}

{% block dashboard_content %}
<div class="dashboard responders">
    <h2>All Responders</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if responders %}
                {% for responder in responders %}
                <tr>
                    <td>{{ responder.user.profile.first_name }} {{ responder.user.profile.last_name }}</td>
                    <td>{{ responder.user.email }}</td>
                    <td>{{ responder.status | capitalize }}</td>
                    <td>{{ responder.contact_number }}</td>
                    <td>
                        <form action="/agency/responders/{{ responder.id }}/add" method="post">
                            <input type="submit" value="Add" class="btn add">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style="text-align: center;" colspan="5">No responders found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}