<nav>
    <a class="logo" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', path='images/logo.png') }}" alt="logo">
    </a>


<!-- <img src="https://cdn-icons-png.freepik.com/256/10024/10024438.png?uid=R65046554&ga=GA1.1.2092350398.1730195801&semt=ais_hybrid" alt="" class="icon"> -->

    <div class="nav-links">
        {% if user %}
        <div class="dropdown">
            <div class="button">
                {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture }}" alt="profile picture">
                {% else %}
                <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?uid=R65046554&ga=GA1.1.2092350398.1730195801&semt=ais_hybrid" alt="profile">
                {% endif %}
            </div>
            <div class="dropdown-content">
                <div class="pic-container">
                    <div class="profile-pic">
                        {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture }}" alt="profile picture">
                        {% else %}
                        <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?uid=R65046554&ga=GA1.1.2092350398.1730195801&semt=ais_hybrid" alt="profile">
                        {% endif %}
                    </div>
                </div>

                <div class="links">
                    {% if user.role != 'Agency admin' and user.role != 'Responder' %}
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    <a href="{{ url_for('report_emergency') }}">Report Emergency</a>
                    <a href="{{ url_for('get_all_emergencies') }}">View Emergencies</a>
                    {% endif %}
                    <a href="{{ url_for('profile') }}">Profile</a>
                    <a href="{{ url_for('notifications') }}">Notifications</a>
                    <a href="{{ url_for('resources') }}">Resources</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>

        {% else %}
        <div class="link">
            <a href="{{ url_for('home') }}" class="{% if page == 'index' %} active {% endif %}">Home</a>
            <a href="{{ url_for('about') }}" class="{% if page == 'about' %} active {% endif %}">About</a>
            <a href="{{ url_for('contact') }}" class="{% if page == 'contact' %} active {% endif %}">Contact</a>
            <a href="{{ url_for('resources') }}" class="{% if page == 'contact' %} active {% endif %}"z>Resources</a>
        </div>
        {% endif %}
        <div class="button">
            {% if not user %}
            <a href="{{ url_for('signup') }}" class="btn">Get Started</a>
            {% endif %}
        </div>
    </div>
</nav>