{% extends 'components/base.html' %}

{% block head_tags %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}
<section id="dashboard">
    {% if user.role == 'Public' %}
        {% include 'pages/user/dashboards/public.html' %}
    {% elif user.role == 'Responder' %}
        {% include 'pages/user/dashboards/public.html' %}
    {% elif user.role == 'Agency admin' %}
        {% include 'pages/user/dashboards/agency.html' %}
    {% endif %}
</section>
{% endblock %}