{% extends 'components/base.html' %}

{% block head_tags %}
<link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/agency.css') }}">
{% endblock %}

{% block content %}
<section id="dashboard">
    {% if user.role == 'Public' %}
        {% include 'pages/user/dashboards/public.html' %}
    {% elif user.role == 'Responder' %}
        {% include 'pages/user/dashboards/responder.html' %}
    {% elif user.role == 'Agency admin' %}
        {% include 'pages/user/agency/agency-base.html' %}
    {% endif %}
</section>
{% endblock %}