{% extends 'components/base.html' %}

{% block head_tags %}
<link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/responder.css') }}">
{% endblock %}

{% block content %}
<section id="dashboard">
    <div id="dashboard-content">
        {% include 'components/sidebars/responder-sidebar.html' %}
    
        <main class="content">
            {% block dashboard_content %} {% endblock %}
        </main>
    </div>
</section>
{% endblock %}